
* {
    min-zoom: 0.90;
    max-zoom: 1.50;
    zoom: 100%;
}

body {
    font-family: sans-serif;
    background-color: #333;
    color: #F5F5F5;
    margin: 0;
    font-size: smaller;
    position: absolute;
    top: 0;
    bottom: 20px;
    left: 0;
    right: 0;    
}

div, button {
    margin: 5px;
    color: #FFF
}

.btSpacer {
    display: inline-block;
    width: 50px;
}

a {
    text-decoration: none;
}

a:hover {
    font-weight: bold;
}

#mainActions {
    display: flex;
    justify-content: space-evenly;
    background-color: #222;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5px;
    margin: 0;
    height: 50px;
}

#content {
    margin: 10px 20px;
}

#content h3 {
    font-size: 1.50em;
}

button {
    padding: 5px;
    background: transparent;
    border: 0.1rem solid #1998E3;
    border-radius: 0.4rem;
    padding: 5px 15px;
    text-transform: uppercase;
}

.lb_main {
    font-weight: bold;
}

#mainActions button:hover {
    cursor: pointer;
}

#mainActions button > img {
    vertical-align: middle;
    margin-right: 3px;
}

#mainActions .disabled {
    display: none;
}

.nav button {
    border: none;
}

input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], textarea, select {
    background-color: transparent;
    border-color: rgb(111, 103, 91);
    box-shadow: none;
    color: rgb(206, 202, 195);
}

input[type='email'], input[type='number'], input[type='password'], input[type='search'], input[type='tel'], input[type='text'], input[type='url'], textarea, select {
    appearance: none;
    background-color: transparent;
    border: 0.1rem solid #595959;
    border-radius: 0.4rem;
    box-shadow: none;
    padding: 0.6rem 1rem;
    color: #d0dcd6;
}

input[type='email']:focus, input[type='number']:focus, input[type='password']:focus, input[type='search']:focus, input[type='tel']:focus, input[type='text']:focus, input[type='url']:focus, textarea:focus, select:focus {
    border: 0.1rem solid #1998E3;
    outline: 0;
}

input[type='checkbox'] {
    height: 20px;
    width: 20px;
    margin: 5px;
    vertical-align: middle;
}

/* Secondary pages */
.h3Plus {
    display: flex;
    justify-content: space-between;
}

#iconPlus {
    text-align: right;
    margin-right: 20px;
    margin-top: 10px;
}

.item_list table {
    width: 100%;
    font-size: small;
}

.item_list {
    height: 380px;
    overflow-y: scroll;        
}

.item_list tr:hover {
    background-color: rgba(68, 68, 68, 0.6);
}

.item_list th {
    border-bottom: 2px solid #777;
}

.item_list td {
    padding: 10px 3px;
    border-bottom: 1px dashed;
}

.item_list th:nth-child(0) {
    width: 150px;
}

.rActions {
    text-align: center;
}

.rActions > a {
    margin: 3px;
}

.item_form {
    display: none;
}

.item_form label {
    width: 30%;
    display: inline-block;
    text-align: right;
}

#pvActions img {
    vertical-align: middle;
}