body {
    font-family: sans-serif;
    background-color: #333;
    color: #F5F5F5;
    margin: 0;
    font-size: smaller;
    position: absolute;
    top: 0;
    bottom: 20px;
    left: 0;
    right: 0;
}

div, button {
    margin: 5px;
    color: #FFF
}

.btSpacer {
    display: inline-block;
    width: 50px;
}

a {
    text-decoration: none;
}

a:hover {
    font-weight: bold;
}

#mainActions {
    display: flex;
    justify-content: space-between;
    background-color: #222;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5px;
    margin: 0;
    height: 50px;
}

#content {
    margin-bottom: 60px;
}

button {
    padding: 5px;
    background: transparent;
    border: 0.1rem solid #1998E3;
    border-radius: 0.4rem;
    padding: 5px 15px;
    text-transform: uppercase;
}

#mainActions button:hover {
    cursor: pointer;
}

#mainActions button > img {
    vertical-align: middle;
}

#mainActions .disabled {
    display: none;
}

.nav button {
    border: none;
}

input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], textarea, select {
    background-color: transparent;
    border-color: rgb(111, 103, 91);
    box-shadow: none;
    color: rgb(206, 202, 195);
}

input[type='email'], input[type='number'], input[type='password'], input[type='search'], input[type='tel'], input[type='text'], input[type='url'], textarea, select {
    appearance: none;
    background-color: transparent;
    border: 0.1rem solid #595959;
    border-radius: 0.4rem;
    box-shadow: none;
    padding: 0.6rem 1rem;
    color: #d0dcd6;
}

input[type='email']:focus, input[type='number']:focus, input[type='password']:focus, input[type='search']:focus, input[type='tel']:focus, input[type='text']:focus, input[type='url']:focus, textarea:focus, select:focus {
    border: 0.1rem solid #1998E3;
    outline: 0;
}

input[type='checkbox'] {
    height: 20px;
    width: 20px;
    margin: 5px;
    vertical-align: middle;
}